.slide1 {
  background-image: url('../assets/5lbeP2QLlLU.jpg');
}

.slide2 {
  background-image: url('../assets/6BPLuyqbXu8.jpg');
}

.slide3 {
  background-image: url('../assets/P_dd8NinbZI.jpg');
}

.slide4 {
  background-image: url('../assets/s6NId_iWEkw.jpg');
}

.slide5 {
  background-image: url('../assets/scale_2400.jpg');
}
