html {
  background-color: #3b3b3b;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content;
  height: calc(100vh - 2rem);
}

.slides-container {
  grid-area: 1 / 1 / 2 / 3;
  overflow: hidden;
  position: relative;
}

.labels-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 1rem;
}

.slides-carousel,
.labels-carousel {
  width: 500%;
  height: 100%;
  display: flex;
  position: absolute;
}

.slide {
  height: 100%;
  width: 20%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 50%;
}

.label {
  width: 20%;
}

.buttons-container {
  display: flex;
  padding-top: 1rem;
  justify-self: end;
  gap: 0.5rem;
}

.button,
label {
  padding: 1rem;
  cursor: pointer;
}

.button-image {
  width: 1rem;
  height: 1rem;
  border: solid 3px blue;
  background-color: blue;
  border-radius: 50%;
}

.button:hover > .button-image {
  background-color: white;
  border-color: white;
}

input {
  display: none;
}

#radio1:checked + .button-image,
#radio2:checked + .button-image,
#radio3:checked + .button-image,
#radio4:checked + .button-image,
#radio5:checked + .button-image {
  background-color: #3b3b3b;
}
